# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:BossSkeleton=false
    B:BossZombie=false
    B:EntityAhriman=false
    B:EntityAshen=false
    B:EntityBabyCaveSpider=false
    B:EntityBabySpider=false
    B:EntityBlindingEnderman=false
    B:EntityBlueSlime=false
    B:EntityBlueberrySlime=false
    B:EntityBrainyZombie=false
    B:EntityBruteSkeleton=false
    B:EntityBruteWitherSkeleton=false
    B:EntityBruteZombie=false
    B:EntityCalpod=false
    B:EntityCaramelSlime=false
    B:EntityCaveFisher=false
    B:EntityCaveSpider=false
    B:EntityChronologist=false
    B:EntityCockatrice=false
    B:EntityCreeper=false
    B:EntityCryptkeeper=false
    B:EntityCultistPortalLesser=false
    B:EntityCyclops=false
    B:EntityDarkCreeper=false
    B:EntityDeathCreeper=false
    B:EntityDesertSpider=false
    B:EntityDestrachan=false
    B:EntityDirtCreeper=false
    B:EntityDominationWitch=false
    B:EntityDoomCreeper=false
    B:EntityDreadBeast=false
    B:EntityDreadGhoul=false
    B:EntityDreadLich=false
    B:EntityDreadScuttler=false
    B:EntityDreadThrall=false
    B:EntityDrowningCreeper=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEldermob=false
    B:EntityEnderCreeper=false
    B:EntityEnderman=false
    B:EntityEndermite=false
    B:EntityEttin=false
    B:EntityFallenAngel=false
    B:EntityFireCreeper=false
    B:EntityFireSkeleton=false
    B:EntityFireZombie=false
    B:EntityFishingZombie=false
    B:EntityFlyingCaveSpider=false
    B:EntityFlyingSpider=false
    B:EntityGatlingSkeleton=false
    B:EntityGatlingWitherSkeleton=false
    B:EntityGhost=false
    B:EntityGhoul=false
    B:EntityGiantSkeleton=false
    B:EntityGiantSpider=false
    B:EntityGiantWitherSkeleton=false
    B:EntityGiantZombie=false
    B:EntityGorgomite=false
    B:EntityGorgon=false
    B:EntityGravelCreeper=false
    B:EntityHookHorror=false
    B:EntityHostileBat=false
    B:EntityHungryPigZombie=false
    B:EntityHungrySpider=false
    B:EntityHungryZombie=false
    B:EntityHusk=false
    B:EntityHuskZombie=false
    B:EntityHydra=false
    B:EntityIcyEnderman=false
    B:EntityIllagerPiper=false
    B:EntityIllithid=false
    B:EntityJumpingCreeper=false
    B:EntityKnightPigZombie=false
    B:EntityKnightSkeleton=false
    B:EntityKnightWitherSkeleton=false
    B:EntityKrake=false
    B:EntityLightningCreeper=false
    B:EntityLightningEnderman=false
    B:EntityLizalfos=false
    B:EntityLobber=false
    B:EntityManticore=false
    B:EntityMiniCreeper=false
    B:EntityMiniEnderman=false
    B:EntityMirageEnderman=false
    B:EntityMotherCaveSpider=false
    B:EntityMotherSpider=false
    B:EntityNetherHound=false
    B:EntityNinjaSkeleton=false
    B:EntityNinjaWitherSkeleton=false
    B:EntityPaleSpider=false
    B:EntityPech=false
    B:EntityPigZombie=false
    B:EntityPirate=false
    B:EntityPlaguePigZombie=false
    B:EntityPlagueZombie=false
    B:EntityPoisonSkeleton=false
    B:EntityPoisonSpider=false
    B:EntityRakshasa=false
    B:EntityRevenant=false
    B:EntityRustMonster=false
    B:EntityShadowsWitch=false
    B:EntityShrieker=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySniperSkeleton=false
    B:EntitySniperWitherSkeleton=false
    B:EntitySpider=false
    B:EntitySpitfireSkeleton=false
    B:EntitySpitfireWitherSkeleton=false
    B:EntitySplittingCreeper=false
    B:EntityStrawberrySlime=false
    B:EntityStray=false
    B:EntityStraySkeleton=false
    B:EntityStymphalianBird=false
    B:EntityTarSlime=false
    B:EntityThiefEnderman=false
    B:EntityThoqqua=false
    B:EntityTreant=false
    B:EntityTroll=false
    B:EntityTrumpetSkeleton=false
    B:EntityUmberHulk=false
    B:EntityUndeadWitch=false
    B:EntityVampire=false
    B:EntityVescavor=false
    B:EntityVespid=false
    B:EntityVespidQueen=false
    B:EntityWebCaveSpider=false
    B:EntityWebSpider=false
    B:EntityWendigo=false
    B:EntityWildsWitch=false
    B:EntityWindWitch=false
    B:EntityWitch=false
    B:EntityWitchCaveSpider=false
    B:EntityWitchSpider=false
    B:EntityWitherSkeleton=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
    B:Entity_SpecialCaveSpider=false
    B:Entity_SpecialCreeper=false
    B:Entity_SpecialEnderman=false
    B:Entity_SpecialPigZombie=false
    B:Entity_SpecialSkeleton=false
    B:Entity_SpecialSlime=false
    B:Entity_SpecialSpider=false
    B:Entity_SpecialWitch=false
    B:Entity_SpecialWitherSkeleton=false
    B:Entity_SpecialZombie=false
}


entitybasehealth {
    D:AS_EntityGolem=250.0
    D:BossSkeleton=60.0
    D:BossZombie=61.22024917602539
    D:EntityAshen=20.0
    D:EntityBlindingEnderman=42.4963493347168
    D:EntityBlueSlime=4.0
    D:EntityBrainyZombie=27.389009475708008
    D:EntityBruteSkeleton=30.0
    D:EntityBruteZombie=30.0
    D:EntityCaveFisher=30.0
    D:EntityCaveSpider=13.690042495727539
    D:EntityChronologist=41.41994094848633
    D:EntityCockatrice=26.009523391723633
    D:EntityCreeper=20.0
    D:EntityCyclops=202.63873291015625
    D:EntityDarkCreeper=20.0
    D:EntityDeathCreeper=20.0
    D:EntityDesertSpider=16.0
    D:EntityDirtCreeper=20.0
    D:EntityDominationWitch=27.309452056884766
    D:EntityDoomCreeper=20.0
    D:EntityDreadLich=50.0
    D:EntityDrowningCreeper=20.0
    D:EntityDweller=20.0
    D:EntityElderGuardian=80.0
    D:EntityEnderCreeper=20.0
    D:EntityEnderman=40.0
    D:EntityEndermite=10.47535514831543
    D:EntityFireCreeper=20.0
    D:EntityFireSkeleton=30.0
    D:EntityFireZombie=30.0
    D:EntityFishingZombie=30.0
    D:EntityFlyingCaveSpider=14.075931549072266
    D:EntityFlyingSpider=16.0
    D:EntityGatlingSkeleton=30.0
    D:EntityGatlingWitherSkeleton=20.0
    D:EntityGhost=37.80940246582031
    D:EntityGhoul=27.91343879699707
    D:EntityGiantSkeleton=30.0
    D:EntityGiantSpider=16.0
    D:EntityGiantZombie=30.0
    D:EntityGravelCreeper=20.0
    D:EntityHookHorror=35.0
    D:EntityHostileBat=7.741795539855957
    D:EntityHungrySpider=16.0
    D:EntityHungryZombie=30.0
    D:EntityHuskZombie=30.0
    D:EntityIcyEnderman=40.0
    D:EntityIllagerPiper=20.0
    D:EntityJumpingCreeper=20.0
    D:EntityKnightSkeleton=30.0
    D:EntityKnightWitherSkeleton=20.0
    D:EntityKrake=10.0
    D:EntityLightningCreeper=20.0
    D:EntityMiniCreeper=20.0
    D:EntityMiniEnderman=40.0
    D:EntityMirageEnderman=40.0
    D:EntityMotherCaveSpider=13.690042495727539
    D:EntityMotherSpider=16.0
    D:EntityNinjaSkeleton=30.0018310546875
    D:EntityNinjaWitherSkeleton=40.0
    D:EntityPaleSpider=16.0
    D:EntityPirate=20.0
    D:EntityPlagueZombie=30.0
    D:EntityPoisonSkeleton=30.0
    D:EntityPoisonSpider=16.0
    D:EntityShadowsWitch=27.309452056884766
    D:EntityShrieker=12.42359733581543
    D:EntitySiren=50.0
    D:EntitySkeleton=33.98974609375
    D:EntitySniperSkeleton=30.0
    D:EntitySpider=16.0
    D:EntitySpitfireSkeleton=30.0
    D:EntitySplittingCreeper=20.0
    D:EntityStray=32.397865295410156
    D:EntityStraySkeleton=30.0
    D:EntityStymphalianBird=26.418100357055664
    D:EntityTarSlime=1.0
    D:EntityTroll=101.56339263916016
    D:EntityTrumpetSkeleton=20.0
    D:EntityUndeadWitch=27.309452056884766
    D:EntityVescavor=12.0
    D:EntityWebCaveSpider=12.0
    D:EntityWendigo=44.0
    D:EntityWildsWitch=27.75709342956543
    D:EntityWindWitch=26.0
    D:EntityWitch=27.309452056884766
    D:EntityWitchCaveSpider=12.0
    D:EntityWitchSpider=16.0
    D:EntityZombie=30.0
    D:EntityZombieVillager=30.0
    D:Entity_SpecialCaveSpider=13.690042495727539
    D:Entity_SpecialCreeper=20.001449584960938
    D:Entity_SpecialEnderman=40.0
    D:Entity_SpecialSkeleton=30.0
    D:Entity_SpecialSpider=16.0
    D:Entity_SpecialWitch=26.0
    D:Entity_SpecialWitherSkeleton=20.0
    D:Entity_SpecialZombie=30.000991821289062
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=false
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # List of DimensionIDs where InfernalMobs will NEVER spawn
    S:dimensionIDBlackList=

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=10

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:BossSkeleton=true
    B:BossZombie=true
    B:EntityAhriman=true
    B:EntityAshen=true
    B:EntityBabyCaveSpider=true
    B:EntityBabySpider=true
    B:EntityBlindingEnderman=true
    B:EntityBlueSlime=true
    B:EntityBlueberrySlime=true
    B:EntityBrainyZombie=true
    B:EntityBruteSkeleton=true
    B:EntityBruteWitherSkeleton=true
    B:EntityBruteZombie=true
    B:EntityCalpod=true
    B:EntityCaramelSlime=true
    B:EntityCaveFisher=true
    B:EntityCaveSpider=true
    B:EntityChronologist=true
    B:EntityCockatrice=true
    B:EntityCreeper=true
    B:EntityCryptkeeper=true
    B:EntityCultistPortalLesser=true
    B:EntityCyclops=true
    B:EntityDarkCreeper=true
    B:EntityDeathCreeper=true
    B:EntityDesertSpider=true
    B:EntityDestrachan=true
    B:EntityDirtCreeper=true
    B:EntityDominationWitch=true
    B:EntityDoomCreeper=true
    B:EntityDreadBeast=true
    B:EntityDreadGhoul=true
    B:EntityDreadLich=true
    B:EntityDreadScuttler=true
    B:EntityDreadThrall=true
    B:EntityDrowningCreeper=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEldermob=true
    B:EntityEnderCreeper=true
    B:EntityEnderman=true
    B:EntityEndermite=true
    B:EntityEttin=true
    B:EntityFallenAngel=true
    B:EntityFireCreeper=true
    B:EntityFireSkeleton=true
    B:EntityFireZombie=true
    B:EntityFishingZombie=true
    B:EntityFlyingCaveSpider=true
    B:EntityFlyingSpider=true
    B:EntityGatlingSkeleton=true
    B:EntityGatlingWitherSkeleton=true
    B:EntityGhost=true
    B:EntityGhoul=true
    B:EntityGiantSkeleton=true
    B:EntityGiantSpider=true
    B:EntityGiantWitherSkeleton=true
    B:EntityGiantZombie=true
    B:EntityGorgomite=true
    B:EntityGorgon=true
    B:EntityGravelCreeper=true
    B:EntityHookHorror=true
    B:EntityHostileBat=true
    B:EntityHungryPigZombie=true
    B:EntityHungrySpider=true
    B:EntityHungryZombie=true
    B:EntityHusk=true
    B:EntityHuskZombie=true
    B:EntityHydra=true
    B:EntityIcyEnderman=true
    B:EntityIllagerPiper=true
    B:EntityIllithid=true
    B:EntityJumpingCreeper=true
    B:EntityKnightPigZombie=true
    B:EntityKnightSkeleton=true
    B:EntityKnightWitherSkeleton=true
    B:EntityKrake=true
    B:EntityLightningCreeper=true
    B:EntityLightningEnderman=true
    B:EntityLizalfos=true
    B:EntityLobber=true
    B:EntityManticore=true
    B:EntityMiniCreeper=true
    B:EntityMiniEnderman=true
    B:EntityMirageEnderman=true
    B:EntityMotherCaveSpider=true
    B:EntityMotherSpider=true
    B:EntityNetherHound=true
    B:EntityNinjaSkeleton=true
    B:EntityNinjaWitherSkeleton=true
    B:EntityPaleSpider=true
    B:EntityPech=true
    B:EntityPigZombie=true
    B:EntityPirate=true
    B:EntityPlaguePigZombie=true
    B:EntityPlagueZombie=true
    B:EntityPoisonSkeleton=true
    B:EntityPoisonSpider=true
    B:EntityRakshasa=true
    B:EntityRevenant=true
    B:EntityRustMonster=true
    B:EntityShadowsWitch=true
    B:EntityShrieker=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySniperSkeleton=true
    B:EntitySniperWitherSkeleton=true
    B:EntitySpider=true
    B:EntitySpitfireSkeleton=true
    B:EntitySpitfireWitherSkeleton=true
    B:EntitySplittingCreeper=true
    B:EntityStrawberrySlime=true
    B:EntityStray=true
    B:EntityStraySkeleton=true
    B:EntityStymphalianBird=true
    B:EntityTarSlime=true
    B:EntityThiefEnderman=true
    B:EntityThoqqua=true
    B:EntityTreant=true
    B:EntityTroll=true
    B:EntityTrumpetSkeleton=true
    B:EntityUmberHulk=true
    B:EntityUndeadWitch=true
    B:EntityVampire=true
    B:EntityVescavor=true
    B:EntityVespid=true
    B:EntityVespidQueen=true
    B:EntityWebCaveSpider=true
    B:EntityWebSpider=true
    B:EntityWendigo=true
    B:EntityWildsWitch=true
    B:EntityWindWitch=true
    B:EntityWitch=true
    B:EntityWitchCaveSpider=true
    B:EntityWitchSpider=true
    B:EntityWitherSkeleton=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
    B:Entity_SpecialCaveSpider=true
    B:Entity_SpecialCreeper=true
    B:Entity_SpecialEnderman=true
    B:Entity_SpecialPigZombie=true
    B:Entity_SpecialSkeleton=true
    B:Entity_SpecialSlime=true
    B:Entity_SpecialSpider=true
    B:Entity_SpecialWitch=true
    B:Entity_SpecialWitherSkeleton=true
    B:Entity_SpecialZombie=true
}


