# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:BossSkeleton=false
    B:BossZombie=false
    B:EntityAhriman=false
    B:EntityAshen=false
    B:EntityCaveFisher=false
    B:EntityCaveSpider=false
    B:EntityChronologist=false
    B:EntityCockatrice=false
    B:EntityCreeper=false
    B:EntityCryptkeeper=false
    B:EntityDestrachan=false
    B:EntityDweller=false
    B:EntityEldermob=false
    B:EntityEnderman=false
    B:EntityFallenAngel=false
    B:EntityGhost=false
    B:EntityGhoul=false
    B:EntityGorgomite=false
    B:EntityGuardian=false
    B:EntityHookHorror=false
    B:EntityIllagerPiper=false
    B:EntityIllithid=false
    B:EntityLizalfos=false
    B:EntityManticore=false
    B:EntityNetherHound=false
    B:EntityRakshasa=false
    B:EntityRevenant=false
    B:EntityRustMonster=false
    B:EntityShrieker=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntityThoqqua=false
    B:EntityTroll=false
    B:EntityTrumpetSkeleton=false
    B:EntityUmberHulk=false
    B:EntityVampire=false
    B:EntityVescavor=false
    B:EntityWendigo=false
    B:EntityWitch=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:EntityAshen=20.0
    D:EntityCockatrice=25.0
    D:EntityCreeper=20.0
    D:EntityCryptkeeper=25.0
    D:EntityDweller=20.0
    D:EntityEnderman=40.0
    D:EntityGhost=35.0
    D:EntityGhoul=25.0
    D:EntityGorgomite=5.0
    D:EntityHookHorror=35.0
    D:EntityIllagerPiper=20.0
    D:EntityLizalfos=30.0
    D:EntityRevenant=30.0
    D:EntityRustMonster=30.0
    D:EntityShrieker=10.0
    D:EntitySkeleton=30.0
    D:EntitySpider=16.0
    D:EntityTroll=20.0
    D:EntityTrumpetSkeleton=20.0
    D:EntityVescavor=12.0
    D:EntityWitch=26.0
    D:EntityZombie=30.0
    D:EntityZombieVillager=30.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:BossSkeleton=true
    B:BossZombie=true
    B:EntityAhriman=true
    B:EntityAshen=true
    B:EntityCaveFisher=true
    B:EntityCaveSpider=true
    B:EntityChronologist=true
    B:EntityCockatrice=true
    B:EntityCreeper=true
    B:EntityCryptkeeper=true
    B:EntityDestrachan=true
    B:EntityDweller=true
    B:EntityEldermob=true
    B:EntityEnderman=true
    B:EntityFallenAngel=true
    B:EntityGhost=true
    B:EntityGhoul=true
    B:EntityGorgomite=true
    B:EntityGuardian=true
    B:EntityHookHorror=true
    B:EntityIllagerPiper=true
    B:EntityIllithid=true
    B:EntityLizalfos=true
    B:EntityManticore=true
    B:EntityNetherHound=true
    B:EntityRakshasa=true
    B:EntityRevenant=true
    B:EntityRustMonster=true
    B:EntityShrieker=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntityThoqqua=true
    B:EntityTroll=true
    B:EntityTrumpetSkeleton=true
    B:EntityUmberHulk=true
    B:EntityVampire=true
    B:EntityVescavor=true
    B:EntityWendigo=true
    B:EntityWitch=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
}


